<!DOCTYPE html>
<html>
{% block navbar %}
{{ nav.top.render() }}
{% endblock %}
<head>
     <title>设备资产信息</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="../static/assets/examples.css">
    <script src="../static/assets/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="../static/assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <script src="../static/assets/bootstrap-table/src/extensions/toolbar/bootstrap-table-toolbar.js"></script>
    <script src="../static/js/export-excel.js"></script>
    <script src="../static/js/ga.js"></script>
</head>


</html>